.fh5co-blog .list_img{
	width: 400px;
	height: 532px;
}
.col-md-12 .insta_img{
	width: 265px;
	height: 290px;
}
.nopadding .div_border{
	width: 330px;
	height: 340px;
	margin-left: 5px;
}
footer{
	width: 100%;
	height: 400px;
	margin-top: 10px;
}
.drop{
	z-index: 9999;
}
